@model List<string>

@{
    int nextOffset = ViewBag.Offset + ViewBag.AllNamesQuantity;
    int prevOffset = ViewBag.Offset - ViewBag.AllNamesQuantity;
    string prevDisabled = null;
    string nextDisabled = null;
    if (ViewBag.Offset == 0)
    {
        prevDisabled = "disabled";
    }
    if (!ViewBag.IsNextVisible)
    {
        nextDisabled = "disabled";
    }
}

<ul class="users-list">
    @{
        foreach (string user in Model)
        {
            <li class="user-item"><a class="user-item-link" asp-action="User" asp-route-name="@user">@user</a></li>
        }
    }
</ul>

<div>
    <div>
        <button id="PrevButton" class="@prevDisabled">Предыдущие</button>
        <button id="NextButton" class="@nextDisabled">Следующие</button>
    </div>
</div>

<script>

   $("#NextButton").click(function () {
       GetAllUsers(@nextOffset);
   });

   $("#PrevButton").click(function () {
       GetAllUsers(@prevOffset);
   });

    function GetAllUsers(offset) {
        $("#usersList").text("");
        $("#loader").css("display", "flex");
       $.ajax({
           url: "@Url.Action("GetAllUsers")",
           type: "GET",
           data: "offset=" + offset,
           success: function (response) {
               $("#loader").css("display", "none");
               $("#usersList").html(response);
           },
       });
   }

</script>
