@model List<string>;
@{
    int allNamesQuantity = ViewBag.AllNamesQuantity;
    int namesInColumnQuantity = allNamesQuantity / 4;
    int nextOffset = ViewBag.Offset + allNamesQuantity;
    int prevOffset = ViewBag.Offset - allNamesQuantity;
    List<string>[] columns = {
    Model.Skip(0).Take(namesInColumnQuantity).ToList(),
    Model.Skip(namesInColumnQuantity).Take(namesInColumnQuantity).ToList(),
    Model.Skip(namesInColumnQuantity * 2).Take(namesInColumnQuantity).ToList(),
    Model.Skip(namesInColumnQuantity * 3).Take(namesInColumnQuantity).ToList()};
    string prevDisabled = null;
    string nextDisabled = null;
    if (ViewBag.Offset == 0)
    {
        prevDisabled = "disabled";
    }
    if (!ViewBag.IsNextVisible)
    {
        nextDisabled = "disabled";
    }
}


@{
    if (Model.Count != 0)
    {
        <div class="text-center">
            <h1 class="h4 font-weight-normal">Результаты поиска</h1>
        </div>

        <div class="container">
            <div class="row">
                @{
                    for (int i = 0; i < columns.Length; i++)
                    {
                        <div class="col-md-3">
                            <ul class="list-group list-group-flush">
                                @{
                                    foreach (var item in columns[i])
                                    {
                                        <li class="list-group-item"> <a asp-action="User" asp-route-name="@item">@item</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="form-inline my-lg-4">
            <div class="btn-group justify-content-center d-inline-block m-auto">
                <a id="PrevButton" class="btn btn-light @prevDisabled">Предыдущие</a>
                <a id="NextButton" class="btn btn-light @nextDisabled">Следующие</a>
            </div>
        </div>



    }
    else
    {
        <div class="text-center">
            <h1 class="h4 font-weight-normal">Поиск не дал результатов</h1>
        </div>
    }

}

<script>
         $(function () {
             $("#NextButton").click(function () {
                 FindByName(@nextOffset);
            });

             $("#PrevButton").click(function () {
                 FindByName(@prevOffset);
            });

            function FindByName(offset) {
                $("#usersList").text("");
                $("#loader").css("display", "flex");
                $.ajax({
                    url: "@Url.Action("FindByName")",
                    type: "GET",
                    data: "name=" + $("#searchInput").val() + "&offset=" + offset,
                    success: function (response) {
                        $("#loader").css("display", "none");
                        $("#usersList").html(response);
                    },
                });
            }
        });
</script>