<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finds - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/_Layout.css" />
    @RenderSection("Css", required: false)
</head>
<body class="preload">

    <header class="header">
        <menu class="content-container menu-container">
            <li class="logo-container">
                <a class="finds-logo" asp-controller="Home" asp-action="Index">
                    <p class="logo-text">Finds</p>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-item-text" asp-controller="Users" asp-action="AllUsers">Все пользователи</a>
            </li>
            <li class="menu-item">
                <a class="menu-item-text" asp-area="" asp-controller="Finds" asp-action="AllFinds">Все находки</a>
            </li>
            <li class="menu-item">
                <a class="menu-item-text" asp-controller="Finds" asp-action="MyFinds">Мои находки</a>
            </li>
            <li class="menu-item">
                <a class="menu-item-text" asp-controller="Finds" asp-action="UploadFind">Добавить находку</a>
            </li>
            <partial name="_LoginPartial" />
        </menu>
    </header>

    <main class="main">
        @RenderBody()
    </main>

    <footer class="content-container footer">
        <p class="footer-text">
            &copy; @DateTime.Now.Year - Finds. Pass: Ff-117
        </p>
    </footer>

    <script src="~/js/fix-transitions.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
